doctype html
html(class="no-js" lang="en")
  head(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="An app to manage tweet datasets")
    title Tweets
    link(rel='stylesheet', href='/style.css')
    script(src="/vendor/jquery.js")
    //- link(rel="stylesheet" href="/side-menu.css")
    //- script(src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
  body
    .container
        block content