doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="An app to manage tweet datasets")
    title Tweets
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet" href="/side-menu.css")
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
  body
    #main
      block content